name: CI

on: [push, pull_request]

jobs:
  ci_msvc:
    runs-on: windows-latest
    name: CI MSVC
    steps:
      - uses: actions/checkout@v4

      - name: Check CMake version
        run: cmake --version

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1

      - name: Generate CMake project
        run: cmake -S. -Bbuild -G "Visual Studio 17 2022" -DCMAKE_CONFIGURATION_TYPES=RelWithDebInfo

      - name: Build 64bit release DLL
        run: cmake --build build --config ALL_BUILD --target RelWithDebInfo

      - name: Rename ASI to CLS-dev-{GITHUB_SHA}.asi
        run: ren CLS.asi CLS-dev-${{github.sha}}.asi
        working-directory: build/Release/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-MSVC
          path: build/Release/CLS-dev-*.asi

      - name: Upload Artifact (pdb)
        uses: actions/upload-artifact@v4
        with:
          name: pdb-MSVC
          path: build/CLS.pdb